<div class="media mb-3 border p-2 rounded shadow-sm bg-white">
  <% if @course.image.present? %>
    <%= image_tag @course.image.url, class: "align-self-center border rounded mr-3" %>
  <% end %>
  <div class="media-body">
    <h2 class="mt-0"><%= @course.name %></h2>
    <p class="font-weight-bold">
      <i class="fas fa-clock"></i> <%= @course.stated_at %>
      <i class="fas fa-arrow-circle-right mx-2"></i>
      <span class="text-danger"><%= @course.ended_at @course.subjects.total_time_subjects %></span>
      <small class="text-muted">(<%= t ".prediction" %>)</small>
    </p>
    <p><i class="fas fa-user"></i><%= t ".created_by" %></p>
    <p>
      <i class="fas fa-user-graduate"></i>
      <%= t ".trainee" %>
      <span class="font-weight-bold"><%= @user.name %></span>
    </p>
    <%= link_to trainers_course_path(@course), class: "badge  badge-pill badge-success font-weight-light p-2" do %>
      <i class="fas fa-chevron-circle-left"></i> <%= t ".return" %>
    <% end %>
  </div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      <i class="fas fa-book-open"></i><%= t ".all_subject" %>
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      <i class="fas fa-tasks"></i> <%= t ".progress" %>
    </a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="cmt-tab" data-toggle="tab" href="#cmt" role="tab" aria-controls="cmt" aria-selected="false">
      <i class="fas fa-comments"></i> <%= t ".label_cmt" %>
    </a>
  </li>
</ul>
<div class="tab-content border rounded" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <ul class="list-unstyled p-3">
      <%= render partial: "subject", collection: @subjects,
                 as: :item, locals: {user_id: @user.id, course_id: @course.id} %>
    </ul>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col" class="w-25"><%= t ".col_name" %></th>
        <% @subjects.each do |subject| %>
          <th scope="col">
            <%= subject.name %>
            <small class="text-muted">(<%= "#{t "trainers.courses.show.task"} #{subject.tasks.size}" %>)</small>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <%= render partial: "/partials/courses/show/trainee_progress", locals: {item: @user, course: @course} %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade p-3" id="cmt" role="tabpanel" aria-labelledby="cmt-tab">
    <div id="box-cmt">
      <div class="media">
        <img src="#" class="mr-3 border rounded avatar-cmt" alt="avatar">
        <div class="media-body">
          <%= form_with scope: :comment, url: trainers_course_user_course_comments_path(@course.id, @user.id), method: :post do |f| %>
            <%= f.text_area :content, class: "form-control", rows: "3" %>
            <%= f.button t(".btn_submit_cmt"), class: "btn my-2 btn-sm btn-secondary btn-cmt-submit" %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="wrap-comment">
      <%= render partial: "trainers/comments/comment", collection: @comments, as: :item %>
      <div id="paginator-cmt" class="text-center">
        <%= paginate @comments, theme: "twitter-bootstrap-4", pagination_class: "pagination-sm", remote: true %>
      </div>
    </div>
  </div>
</div>
